include _mixins

doctype html
html(lang='en')
  head
    include _locals
    block variables
    // https://rueil-malmaison-92500.site-pap.fr/accueil.html
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(name="Description" content="#{global_title} - #{date_disponibilite}")
    title= title
    link(rel='stylesheet', href='style.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.2.0/viewer.min.js")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.2.0/viewer.min.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet")
    script.
      window.onload = function() {
        var viewerElt = document.getElementById('viewer');
        if (!viewerElt) { return; }
        var viewer = new Viewer(
          viewerElt,
          {
            url: 'data-original',
            title: [1, (image, imageData) => `${image.alt}`],
            navbar: 3,
            toolbar : { prev: 1, next: 1 }
          });
      }
  body
    header
      +navlink('index', 'Présentation')
      +navlink('appartement', 'Appartement')
      +navlink('photos', 'Photos')
      +navlink('contact', 'Contact')
    main
      h1 #{global_title}
      h2 #{date_disponibilite}
      article
        block content